{% import "macros.njk" as a %}
{% import "components.njk" as c%}
<!doctype html>
<html lang="en">
  <head>
    {{a.meta_tags()}}
    <link rel="stylesheet" href="/site/assets/css/style.css">
    {%block css%}
      <link rel="stylesheet" href="/site/assets/css/**.css">
    {%endblock%}
    {{a.bootstrap_css()}}
    {{a.icons()}}
    {{a.fonts()}}
    <title>{{title}}</title>
  </head>

  <body>
    {{a.snipcart()}}
    {{c.header()}}
    {{c.navbar(links)}}
    {{c.hero_section(hero)}}

    {% block container%}
      This is a container for main content.
    {% endblock %}

    {{c.footer()}}
    {{a.bootstrap_js()}}
    {% block js %}
      
    {% endblock %}
    </body>
</html>