
{% macro header() %}
     <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Large</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <button class="btn btn-sm btn-outline-dark flex-shrink-0" type="button">
                <i class="bi-cart-fill" style = "margin-right:0.25rem"></i>
                  Cart
              </button>
          </div>
              
        </div>
      </header>
{% endmacro %}


{% macro navbar(links) %}
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
          {% for link in links %}
            <a class="p-2 text-muted" href="../{{link | lower}}/index.html">{{ link }}</a>
          {% endfor %}
        </nav>
      </div>
{% endmacro %}


{% macro hero_section(hero) %}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{hero.title}}</h1>
          <p class="lead my-3">{{hero.subtitle}}</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">{{hero.cta}}</a></p>
        </div>
      </div>
{% endmacro %}