{% macro snipcart_btn(product) %}
    <button class="btn btn-outline-dark mt-auto snipcart-add-item"
        data-item-id="{{product.id}}"
        data-item-price="{{product.price}}"
        data-item-description="{{product.short_description}}"
        data-item-image="../../assets/img/{{product.name}}.png"
        data-item-name="{{product.name}}"
        data-item-weight=1000
        data-item-min-quantity=1
        data-item-max-quantity=10
        data-item-custom1-name="Package Size"
        data-item-custom1-options="4kg[+{{product.price*2}}] | 7kg[+{{product.price*5}}] | 10kg[+{{product.price*8}}]">
        Add to cart
      </button>
{% endmacro %}

  
  <div class="col m-2 p-0 all {{product.tag}}">
    <div class="card" style="width:19rem;">
      <!-- Sale badge-->
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem; font-size:1rem">Sale</div>
        <img src="../../assets/img/{{product.name}}.png" class="card-img-top " alt="...">
        
        <div class="card-footer">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle">₱{{product.price}}/kg</h6>
          <div class="d-flex justify-content-center text-warning m-2">
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
                  <div class="bi-star-fill"></div>
              </div>
          <p class="card-text text-muted">{{product.short_description}}</p>
          {{snipcart_btn(product)}}
          <p class="card-link text-center m-2"><a href="../products/{{product.name | lower | replace(" ", "-")}}/index.html" class="text-muted p-2">Learn More</a></p>
          
        </div>
    </div>
  </div>
