{% import "macros.njk" as a %}

<!doctype html>
<html lang="en">
  <head>
    {{a.meta_tags()}}
    {{a.bootstrap_css()}}

   
    <title>Menu</title>
  </head>
  <body>
    <h1>Menu</h1>

    {% for product in products %}
    {% include "item.njk" %}
    {% endfor %}

    {{a.bootstrap_js()}}
    </body>
</html>