---
title: Products
---

{%extends "base.njk"%}

{% block container %}
    <div class="container mt-4 text-center">
        <div class="row gy-4">
            {% for product in products %}
                {% include "item.njk" %}
            {% endfor %}
        </div>
{% endblock %}
    