---
title: Products
---

{%extends "base.njk"%}

{% block container %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                {% include "item.njk" %}
            {% endfor %}
        </div>
{% endblock %}
    