{% macro snipcart_btn(product) %}
    <button class="btn btn-outline-dark flex-shrink-0 snipcart-add-item" type="button"
        data-item-id="{{product.id}}"
        data-item-price="{{product.price}}"
        data-item-description="{{product.short-description}}"
        data-item-image="../../../assets/img/{{product.name}}.png"
        data-item-name="{{product.name}}"
        data-item-weight=1000
        data-item-min-quantity=1
        data-item-max-quantity=10
        data-item-custom1-name="Package Size"
        data-item-custom1-options="4kg[+{{product.price*2}}] | 7kg[+{{product.price*5}}] | 10kg[+{{product.price*8}}]">
        <i class="bi-cart-fill me-1"></i>
        Add to cart
      </button>
        
{% endmacro %}
{% macro product_section(product) %}
    <!-- Product section-->
        <div class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    {# <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2Fb07YhptrAMDncpyro6NNgG%2FUntitled%3Ftype%3Ddesign%26node-id%3D2%253A1017%26mode%3Ddesign%26t%3DVX91cH2L20FV1j5Z-1" allowfullscreen></iframe> #}
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="../../../assets/img/{{product.name}}.png" alt="..." /></div>
                    
                    <div class="col-md-6">
                        <div class="small mb-1">{{product.id}}</div>
                        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">₱{{product.price}}</span>
                            <span>₱{{product.price}}</span>
                        </div>
                        <p class="lead">{{product.short_description}}</p>
                        <ul class="lead"><li>{{product.benefits | replace(".", ". </li><li>") | safe}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            {{snipcart_btn(product)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}

