{% import "macros.njk" as a %}
{% import "components.njk" as c%}
{% import "partial.njk" as p%}
<!doctype html>
<html lang="en">
  <head>
    {{a.meta_tags()}}
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/css/product.css">
    {{a.bootstrap_css()}}
    {{a.icons()}}
    {{a.fonts()}}
    <title>{{product.name}}</title>
  </head>

  <body>
    {{a.snipcart()}}
    {{c.header('../../')}}
    {{c.navbar(links, '../../')}}
    {{c.hero_section(hero, '../../')}}
        
    {# {%include "partial.njk"%} #}
    {{p.product_section(product)}}

    {{a.bootstrap_js()}}
    {{c.footer()}}
    </body>
</html>